* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid salmon;
}

.main {
    width: 800px;
}

.main__title {

}

.accordion {
    /* list-style-type: none; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.accordion__item {
    display: flex;
    flex-direction: column;
}

.accordion__input {
    display: none;
}


.accordion__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

.accordion__title {
    width: 80%;
    font-size: 2em;
}

.accordion__close-button {
    display: block;
    width: 2em;
    height: 2em;
}

.accordion__image {
    /* убрать пиксели */
    width: 200px;
}

.accordion__input:not(:checked) ~ .accordion__image {
    display: none;
}
